<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Documents - Vakalat.AI</title>
    <link rel="stylesheet" href="static/buy_documents.css">
</head>
<body>
    <header class="top-part">
        <div class="nav-logo">
         <img src="static/logo.png" alt="logo" width="80px">
       </div>
       <h1>
         वकालत.AI</h1>
       <div class="navbar">
         <ul class="nav-items">
           <li class="nav-item"><a href="/">Home</a></li>
             <li class="nav-item"><a href="/buy_documents">Services</a></li>
             <li class="nav-item"><a href="/lawyers">Legal-Connect</a></li>
             <li class="nav-item"><a href="/lawgpt">Law-GPT</a></li>
             <li class="nav-item"><a href="#">Talk2Doc</a></li>
             
         </ul>
        </div>
       </header>

    <main>
        
        <div class="card">
            <div class="card-image">
                <img src="static/corporate.jpg" alt="Divorce Document">
            </div>
            <div class="card-content">
                <h2>Corporate Governance</h2>
                <p>Advising on corporate governance best practices, ensuring compliance with relevant laws and regulations</p>
                <a href="#" class="btn">Know More</a>
                <a href="#" class="btn btn2">Consult</a>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="static/buisness.jpg" alt="Divorce Document">
            </div>
            <div class="card-content">
                <h2>Business Formation</h2>
                <p>Assisting with the formation of new businesses, including choosing the appropriate legal structure.</p>
                <a href="#" class="btn">View Details</a>
                <a href="#" class="btn btn2">Consult</a>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="static/contract.jpg" alt="Divorce Document">
            </div>
            <div class="card-content">
                <h2>Contracts and Commercial Transactions</h2>
                <p>Drafting, reviewing, and negotiating various contracts and agreements essential to business operations.</p>
                <a href="#" class="btn">View Details</a>
                <a href="#" class="btn btn2">Consult</a>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="static/ma.jpg" alt="Divorce Document">
            </div>
            <div class="card-content">
                <h2>Mergers and Acquisitions (M&A)</h2>
                <p>Providing legal counsel and assistance throughout the M&A process, including conducting due diligence, negotiating terms</p>
                <a href="#" class="btn">View Details</a>
                <a href="#" class="btn btn2">Consult</a>
            </div>
        </div>
        
    </main>

    <footer class="bottom">
        <div class="footer-content">
          <div class="contact-info">
            <div class="phone-numbers">
              <span><i class="fas fa-phone-alt"></i> Phone: 123-456-7890</span>
              <span><i class="fas fa-mobile-alt"></i> Mobile: 987-654-3210</span>
            </div>
            <div class="email">
              <span><i class="far fa-envelope"></i> Email: example@example.com</span>
            </div>
          </div>
          <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="legal-info">
            <a href="/privacy-policy">Privacy Policy: All Privacy reserved</a>
            <p>&copy; 2024 Your Company. All rights reserved.</p>
          </div>
        </div>
        <div class="copyright">
        </div>
      </footer>
</body>
</html>