<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Justice</title>
  <link rel="stylesheet" href="static/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header class="top-part">
    <div class="nav-logo">
      <img src="static/logo.png" alt="logo" width="80px">
    </div>
    <div class="navbar">
      <h1>
        वकालत.AI</h1>
      <ul class="nav-items">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/buy_documents">Services</a></li>
        <li class="nav-item"><a href="/lawyers">Legal-Connect</a></li>
        <li class="nav-item"><a href="/lawgpt">Law-GPT</a></li>
        <li class="nav-item"><a href="#">Talk2Doc</a></li>
      </ul>
    </div>
    <div><a href="/signup"><button class="nav-button">Get Started</button></a></div>
    <div>
      <h1 class="heading">Your Justice Is Our Top Priority</h1>
    </div>
    <div class="description">
      As a state of law, maintaining justice is something that every citizen must pay attention to, and we are here to
      uphold justice for you.
    </div>
  </header>
  <main>
    <div class="one2">
      <p class="para">Introducing our innovative AI-based law website, where users can seamlessly connect with lawyers
        tailored to
        their specific case needs.</p>
      <p class="para"> Our platform offers a comprehensive range of legal services, empowering individuals
        to
        seek legal advice, assistance, and representation with ease. With our advanced AI technology, users can access a
        Law GPT (Generative Pre-trained Transformer) feature, enabling them to obtain accurate and insightful answers to
        a
        wide array of legal questions.</p>
      <p class="para"> Whether it's navigating complex legal issues, understanding rights and
        responsibilities, or seeking guidance on legal proceedings, our platform equips users with the knowledge and
        resources they need to make informed decisions. By harnessing the power of AI, we're revolutionizing the legal
        landscape, providing accessible and efficient legal solutions to empower individuals and uphold justice for all.
      </p>
      <img src="static/one.jpeg" alt="" class="one">
    </div>
    <div class="three4">
      <h1 style="margin-top: 50px; font-size: 50px;">Your Legal Friend</h1>
      <p class="p1">Law GPT is here to serve as your trusted virtual legal advisor and educator! Need quick legal
        advice? Confused about contracts or legal jargon? Look no further! Law GPT is here to simplify the law for you.
        From offering personalized legal guidance to increasing your general awareness with valuable legal knowledge,
        Law GPT is your go-to companion in navigating the complexities of law. Whether you're drafting a document,
        seeking clarification, or simply curious about legal matters, let Law GPT be your guide through the
        legal landscape!

      </p>

      <img src="static/lawbot2.png" alt="" class="img1">
    </div>
    <div class="talk">
      <h1 style="margin-top: 50px; font-size: 50px;">Have a talk with your Docs</h1>
      <p class="p1">Introducing Talk to Doc - your go-to feature for expert document assistance in the legal realm! Whether
        drafting contracts or deciphering legal jargon, effortlessly navigate documents, clarify terms, and ensure
        accuracy. Simplify your legal document management and make informed decisions with confidence today!</p>
    </div>

  </main>
  <footer class="bottom">
    <div class="footer-content">
      <div class="contact-info">
        <div class="phone-numbers">
          <span><i class="fas fa-phone-alt"></i> Phone: 123-456-7890</span>
          <span><i class="fas fa-mobile-alt"></i> Mobile: 987-654-3210</span>
          <span><i class="far fa-envelope"></i> Email: example@example.com</span>
        </div>

      </div>
      <div class="social-media">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="legal-info">
        <a href="/privacy-policy">Privacy Policy: All Privacy reserved</a>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
    <div class="copyright">
    </div>
  </footer>

</body>

</html